.player-list {
  display: inline-block;
  width: calc(100% + 1rem);
  margin: -.5rem;

  .list-item {
    display: inline-block;
    padding: .5rem;
    float: left;
    width: 100%;

    @media (min-width: 300px) { width: 100%; }
    @media (min-width: 600px) { width: 50%; }
    @media (min-width: 900px) { width: 33.3%; }
    @media (min-width: 1200px) { width: 25%; }
  }

  sbio-player-score {
    display: inline-block;
    width: 100%;
  }
}

