<md-card class="space-below">
  <md-card-content>
    <md-card-title>Game Summery</md-card-title>
  </md-card-content>
  <md-card-content>
    <div>
      <span class="badge placement placement-1">1st</span>
      <strong>{{getScoreForPlacement(1)}}</strong>
      {{getPlayersInPlacement(1)}}
    </div>
  </md-card-content>
  <md-card-content>
    <div>
      <span class="badge placement placement-2">2nd</span>
      <strong>{{getScoreForPlacement(2)}}</strong>
      {{getPlayersInPlacement(2)}}
    </div>
  </md-card-content>
  <md-card-content>
    <div>
      <span class="badge placement placement-3">3rd</span>
      <strong>{{getScoreForPlacement(3)}}</strong>
      {{getPlayersInPlacement(3)}}
    </div>
  </md-card-content>
</md-card>
