.score-area {
  display: flex;

  .score {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
}

.score {
  font-size: 2em;
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
}

.round-score {
  position: absolute;
  top: 1rem;
  right: 1rem;

  color: white;
  background: #00BCD4;

  padding: .5rem;
  min-width: 3rem;
  text-align: center;
  border-radius: 5px;

  transition: opacity 2s;
  transition-duration: 2s;
  opacity: 0;

  &.active {
    transition-duration: 0s;
    opacity: 1;
  }
}
